

body{
    margin: 0 ;
    text-align: center ;
    background-color:  black ;
    background-size: 100% ;
     align-self: auto ;
     overflow-x : hidden;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    
}
aside {
    color: #fff;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;
}
  

#index-12
{

   margin-top: 10% ; 
   margin-right: 50% ;
   animation-name: fadeInUp ;
   border-color: purple ;
   background: radial-gradient( transparent 40%, grey 75%),var(--image)  ;
    --image : url('http://quietlab.adr.com.ua/templates/VR/img/index-27.jpg');
   max-height: inherit ;    


}
.dropdown{
    position: fixed;
    top: 0;
    left: 0;
   z-index: 1 ;
}
.dropdown .toggler{
    position: absolute ;
    top: 0 ;
    left: 50% ;
    z-index: 2;
    cursor: pointer ;
    width: 50px ;
    height: 30px ;
    opacity: 0;
    transition: all 0.3s ease ;

}

.dropdown .hamburger{
    position: absolute;
    top: 0;
    left: 40% ;
    
    width: 60px ;
    height: inherit;
    padding: 1rem ;
    background: pink ;
    opacity: 0.8;
    transition-property: all  ;
    transition-duration: 1s ;


}

.dropdown .l1{
    position: absolute ;
    top: 0;
    left: 40%;
    width: 60px;
    height: 60px ;
    padding: 1rem ;
    background: aqua ;
    opacity: 0.4;
    transition-property: all  ;
    transition-duration: 0.4s ;

   
}
.dropdown .l1 >div{
    position: absolute;
    top: 1.5rem ;
    left: 0rem;
    width: 100%;
    height: 2px;
    background: white ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    transform: rotate(45deg) scale(0.6);
    transition-property: all  ;
    transition-duration: 0.4s ;
    opacity: 0;

}
.dropdown .l1 >div::after{
    content: ' ' ;
    position: relative;
    top: 0 ;
    left: 0rem;
    width: 100%;
    height: 2px;
    background: white ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    transform: rotate(90deg) ;
    transition-property: all  ;
    transition-duration: 0.4s ;
}


.dropdown .hamburger > div{
    position: relative;
    width: 100% ;
    height: 2px ;
    background: white ;
    display: flex;
    align-items: center ;
    justify-content: center ;
    opacity: 1;
    transition-property: all  ;
    transition-duration: 0.4s ;

}
.dropdown .hamburger > div::after,
.dropdown .hamburger > div::before {

    content: ' ' ;
    position: absolute ;
    z-index: 1;
    width: 100% ;
    height: 2px ;
    margin-top: -10px ;
    background: white ;
    display: flex;
    align-items: center ;
    justify-content: center ;
    transition-property: all  ;
    transition-duration: 0.2s ;
}
.dropdown .hamburger > div::after{

   top: 20px ;
   transition-property: all  ;
    transition-duration: 0.1s ;
}
.dropdown .menu{
    margin-top: 50% ;
    
    visibility: hidden ;
    opacity: 0;
    transition-property: all ;
    transition-duration: 0.8s ; 
}
.dropdown .menu .menuitms >li >a{
    color: rgb(255, 0, 0) ;
    
    text-decoration: none ;
}
#menuitems {
    position: relative;
    background : pink ;
    list-style: none;
    
    text-align: center ;
    
    padding: 10% ;
     
    transition-property: all  ;
    transition-duration: 0.6s ;
    z-index: -1;
    height: 100px;
    width: 100px ;
    margin-left: 100% ;
    opacity: 0.6;
    display: flex ;
    flex-direction: column ;
    
    

}


/*.dropdown .toggler:hover + .hamburger>div{
    transform: rotate(135deg) scale(0.6)  ;
    
    
}
.dropdown .toggler:checked + .hamburger>div::after{

     transform: rotate(45deg)  ; 


}
.dropdown .toggler:checked + .hamburger>div::before{
    transform: rotate(135deg);
}*/
.dropdown .toggler:checked + .hamburger>div{
    transform: rotate(135deg);
    top: 1.5rem ;
    left: 0rem;
}
.dropdown .toggler:checked + .hamburger>div::after{
  
   transform: rotate(-90deg) ;
    
    top: 0.7rem ;
    left: -0.5%;
}
.dropdown .toggler:checked + .hamburger>div::before{
    opacity: 0;

}
.dropdown .toggler:checked + .hamburger{
    height: 40px;
    transform: translateY(20px) ;
    
}

.dropdown .toggler:checked {
   height: 60px;
   transform: translateY(20px) ;
}
.dropdown .toggler:checked ~ .menu{
    margin-top: 50% ;
    visibility: visible ;
    opacity: 1;
    transform: scale(2) ;
}
.dropdown .menu .menuitms >li >a:hover{
    color: aqua ;
}



/*.dropdown .togledown{
    position: fixed ;
    top: 0 ;
    left:0 ;
    width: 100% ;
    height: 100% ;
    overflow: hidden ;
    display: flex ;
    align-items: center ;
    justify-content: center ;

}
.dropdown .togledown > div{
    background: aqua ;
    border-radius: 50% ;
    width: 200vw ;
    height: 200vw;
    display: flex ;
    flex: none ;
    align-items: center ;
    justify-content: center ;
    transition: all 0.4s ease ;
}

.dropdown .togledown > div > div{
    text-align: center ;
    max-width: 90vw ;
    max-height: 100vh;
    transition: opacity 0.4s ease ;
}



/*.togledown{
    background: rgba(21, 185, 226, 0.637) ;
    padding: 2% ;
    display: flex ;
    flex-direction: column ;
    
  
}
/*#ops{
    list-style: none ;
    padding: 2% ;
    justify-content: center ;   
   
}
#op1{
    text-decoration: none ;
    padding: 2% ;
}
#op2{
    text-decoration: none ;
    padding: 2% ;
}
#op3{
    text-decoration: none ;
    padding: 2% ;
}

#op1:hover{
    text-decoration-line: underline ;
    transition: 0.4s ease-in-out ;
}
#op2:hover{
    text-decoration-line: underline ;
    transition: 0.4s ease-in-out ;
}
#op3:hover{
    text-decoration-line: underline ;
    
}*/


#pg1
{

    text-align: center;
  
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: bold ;
    font-stretch: semi-expanded ;

    min-height: 500px ;
    
    background: radial-gradient( transparent 40%, grey 75%),var(--image)  ;
    --image : url('https://intelivr.files.wordpress.com/2019/06/pexels-photo-123318.jpeg');
    background-size : 100% ;  
    border-bottom-style: ridge ;
}
#pg2
{
    border-top-style: ridge ;
    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
    margin-top: 10% ;
    margin-bottom: 10% ;
    align-self: auto ;   
    font-size: bold ;
    font-stretch: semi-expanded ; 
    opacity: 0;
    
    border-bottom-style: ridge ;
}
#pg2image{
    max-height: 400px ;
    margin-top: 10% ; 
   margin-right: 50% ;
   box-shadow:  -5px 5px grey ;
   opacity: 1;
       
}
#pg2text{

    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-top: -25% ;
    margin-left: 45% ;
    margin-right: 4% ;
    padding: 5% ;  
    position: -webkit-sticky ;
    text-align: left ;
    color: black ;
    background-color: aliceblue ;
   
    
  
}

.scroll{
    max-height: 50px ;
   
}

#learnmoreR{

    color: aquamarine ;
    margin-top: 5% ;
    margin-right: 10% ;

}
#learnmoreL{

    color: aquamarine ;
    margin-top: 5% ;
    margin-left: 10% ;

}

.boxteam{

    background: aqua ;
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

#pg3{

    border-top-style: ridge ;
    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-top: 10% ;
    margin-bottom: 10% ;
    align-self: auto ;   
    font-size: bold ;
    font-stretch: semi-expanded ;  
    opacity: 0;
    
    border-bottom-style: ridge ;

}
#pg3image{
    max-height: 400px ;
    margin-top: 10% ; 
    box-shadow:  5px 5px grey ;
   margin-left: 50% ;
       
}
#pg3text{

    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-top: -25% ;
    margin-left: 4% ;
    margin-right: 45% ;
    padding: 5% ;
    text-emphasis-position: -webkit-sticky ;  
    position: -webkit-sticky ;
    text-align: right ;
    color: black ;
    
    background-color: aliceblue ;
 
    
  
}
#pg4{
    border-top-style: ridge ;
   
    font-family: Georgia, 'Times New Roman', Times, serif ;

    padding: 10%;
    
    border-bottom-style: ridge ;
}
#reason{

    background: rgb(52, 159, 192);
    padding-top: 5% ;
    padding-bottom: 5% ;
}
#buy{
    text-align: end ;
    margin-top: 5% ;
  
}
#reasionimg{
    margin-top: 10% ;
}
#r1{
    margin-top: 10% ;
    margin-left: 10%
    
}
#r2{
    margin-top: 10% ;
    position: relative;
}
#r3{
    margin-top: 10% ;
    position: relative;
}
#img-07{
    opacity: 0;
    border-top: ridge ;
    border-bottom: ridge ;
    padding-bottom: 5% ;
    
    display: -webkit-flex ;
}
#img-08{
    opacity: 0;
    border-top: ridge ;
    border-bottom: ridge ;
    padding-bottom: 5% ;
    display: -webkit-flex ;
}
#img-09{
    opacity: 0;
    border-top: ridge ;
    border-bottom: ridge ;
    padding-bottom: 5% ;
    display: -webkit-flex ;
}
#index-07{
    margin-top: 3% ;
    margin-left: 20% ;
    box-shadow:  -5px 5px grey ;
    align-items: baseline ;
    
}
#img07text{
    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: start ;
    align-self: auto ;
    margin-left: 10% ;
   /* margin-top: -10% ;*/
    margin-right: 20% ;

    color: aqua ;
}
#img08text{
    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: end ;
    align-self: auto ;
    margin-right: 10% ;
   /* margin-top: -10% ;*/
    margin-left: 20% ;
    color: aqua ;
}
#img09text{
    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: start ;
    align-self: auto ;
    margin-left: 10% ;
   /* margin-top: -10 % ;*/
    margin-right: 20% ;
    color: aqua ;
}


#index-08{
    margin-top: 3% ;
    /*align-items: baseline ;*/

    box-shadow:  5px 5px grey ;
    margin-right: 20% ;
    
}
#index-09{
    margin-top: 3% ;
    align-items: baseline ;
    box-shadow:  -5px 5px grey ;
    margin-left: 20% ;
   
}
#signup1{

    background: white  ;
    text-align: start ;
    color: #000 ;
    margin-left: 20% ;
    padding: 1.5% ;
    border-radius: 50% ;
    
   
    
}
#signup2{

    background: white  ;
    color: #000 ;
    margin-right: 40% ;
    border-radius: 50px ;
    padding: 1.5% ;
    padding-left: 5% ;
    padding-right: 5% ;
    border-style: groove ;
   
    
    
   
    
}
#signuptext{
    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-left: 20% ;
}
#signup0{

    background: rgb(13, 218, 122) ;
    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: center ;
    display: -webkit-flex ;
    padding: 5% ;
    

}

.timeline{
    box-sizing: border-box ;
    position: relative ;
    max-width: 1200px ;
    margin: 0 auto ;
}
.timeline::after{

    content: " " ;
    position: absolute ;
    width: 6px ;
    background-color: white ;
    top: 0 ;
    bottom: 0 ;
    left: 50% ;
    margin-left: -3px ;

}

.container{
    padding: 10px 40px ;
    position: relative ;
    background-color: inherit ;
    width: 50% ;
}

.container::after{
    content: '' ;
    position: absolute ;
    width: 25px ;
    height: 25px ;
    right: -17px ;
    background-color: white;
    border: 4px solid #ff9ff5 ;
    top: 15px ;
    border-radius: 50% ;
    z-index: 2;

}

.left{
    left: 0 ;
}

.right{
    left: 50%;
}

.left::before{

    content: " " ;
    height: 0 ;
    position: absolute ;
    top: 22px ;
    width: 0;
    z-index: 1 ;
    right: 30px ;
    border: medium solid white ;
    border-width: 10px 0 10px 10px ;
    border-color: transparent transparent transparent white ;
}
    
.right::before{
    content: " " ;
    height: 0 ;
    position: absolute ;
    top: 25px ;
    width: 0 ;
    z-index: 1 ;
    left: 30px;
    border: medium solid white ;
    border-width: 10px 10px 10px 0 ;
    border-color: transparent white transparent transparent ;

}

.right::after{
   left: -16px ;
}

.content {
    padding: 20px 10px ;
    background-color: white ;
    position: relative;
    border-radius: 6px ;

}

/*@media screen and (max-width: 600px){

    .timeline::after{
        left: 31px ;
    }
    .container{
        width: 100% ;
        padding-left: 70px ;
        padding-right: 25px ;
    }

    .container::before{
    left: 60px ;
    border: medium solid white ;
    border-width: 10px 10px 10px 0 ;
    border-color: transparent white transparent transparent ;

}

.left::after, .right::after{
  left: 15px;

}
.right{
    left: 0% ;
}
}*/


a{
    color: aliceblue ;
    text-align: center ;
    align-self: auto ;
   
    font-stretch: expanded ;
    font-weight: bold ;
    font-style: italic ;
}


#aboutproject{

    padding: 2% ;
    

}

#abouttext{
    padding: 3% ;
    
    font-family: Georgia, 'Times New Roman', Times, serif ;
    display: -webkit-flex ;   
    text-align: end;
    align-self: auto ;
    opacity: 0 ;
}
#abouttext0{

    padding: 5% ;

}
#index02{

    padding: 2% ;
    width: 50% ;
    height: 50% ;
   

}
@media screen and (min-width:1000px){
.carousel{
    width: 100%;
    display: flex;

}
.carousel .carousel-text{
    position: relative;
    background: transparent ;
    color: white ;
    margin-top: 25% ;
    left: 10px ;
    display: flex ;
    flex-direction: column ;
    margin-right: 5% ;
  
     
}
.carousel .carousel-circle{

     position: absolute ;
     background: #ff9ff5 ;
     margin: 20% 40% ;
     border-radius: 50% ;
     width: 300px ;
     height: 300px ;

}
.carousel .carousel-border{
    position: absolute ;
    background: transparent ;
    border: #DCE1F6 ;
    border-style: double ;
    margin: 18% 37.865% ;
    border-radius: 50% ;
    width: 350px ;
    height: 350px ;
}
.carousel .prev{
    color: aqua;
    background: transparent ;
    border-style: none ;
    margin-top: 30% ;
    margin-bottom: 20% ;
    margin-left: 35% ;
    position:  relative;
}
.carousel .next{
    color: aqua ;
    background: transparent ;
    border-style: none ;
    margin-top: 30% ;
    margin-bottom: 20% ;
    margin-left: 29.2% ;
    position: relative;
}


}




.parallax{
    background: #DCE1F6 ;
    background-image: var(--image1);
    --image1: url('human.png') ;
    background-repeat: no-repeat ; 
    background-size:  80%  ;
    background-position-x: 300px ;
    background-position-y: 300px ;
    height: 250vh;
    transition-property: all ;
    transition-duration: 2s ; 
   
}
.popup1{
    content: " " ;
    position: absolute ;
    width: 50px ;
    height: 50px ;
    transform: translate3d(400px,100px,0) ;
    border-radius: 50% ;
    background: green ;
   
}
.parallax .popup1 >div{
    content: " " ;
    position: absolute ;
    background: white ;
    width: 30px ;
    height: 3px ;
    /* transform: translate3d(25px,10px,0) ; */
    left: 10px ;
    top: 25px ;
    justify-content: center ;
    align-items: center ;
}
.parallax .popup1>div>div{
    content: ' ' ;
    background: black;
    height: 5px ;
    width: 30px ;
    
    justify-content: center ;
    align-items: center ;
}
.popup1 span{
     background : aqua ;
     display: flex ;
     align-items: center ;
     justify-content: center ;
     width: 100px ;
     height: 90px;
     position: absolute;
     top: -100px ;
     left: -20px ;
     border-radius: 10px ;
     visibility: hidden ;
     opacity: 0;
     transition-property: all ;
     transition-duration: 2s ;
}
.popup1 span div{
    content: ' ' ;
    justify-content: center ;
    align-items: center ;
    background: aqua ;
    color: white;
    width: 30px ;
    height: 10px ;
    position: absolute ;
    top: 75px ;
    left: 30px ;
    
    
    
}
.popup1 span div::after{
    content: ' ' ;
    justify-content: center ;
    align-items: center ;
    background:aqua ;
    color: white;
    top: 7px ;
    left: 9px ;
    width: 20px ;
    height: 10px ;
    position: absolute ;
    transform: rotate(-45deg) ;
    
}
.popup1 span div::before{
    content: ' ' ;
    justify-content: center ;
    align-items: center ;
    background: aqua ;
    color: white;
    top: 7px ;
    left: 2px ;
    width: 20px ;
    height: 10px ;
    position: absolute ;
    transform: rotate(45deg) ;
    
}

.parallax .parallax1{
    left: 0 ;
    top: 0 ;
    position: relative;
    display: block ;
    
    transform: scale(0.65) translate3d(-600px, 0, 50px) ;
    z-index: 1;
    margin-left: -80% ;
    transition-property: all ;
    transition-duration: 2s ;
   
}
.parallax .parallax2{
    left: 0 ;
    top: 0 ;
    position: relative;
    display: block ;
    opacity: 0.5;
    
    transform: scale(0.6) translate3d(100px,-500px,0) ;
    margin-top: -100% ;
    margin-right: -90% ;
   
}
 .parallax3{
    left: 0 ;
    top: 0 ;
    position: relative;
    display: block ;
   
    transform: scale(0.5) translate3d(-200px,0,50px) ;
    margin-top: -140%  ;
   
    margin-left: -50% ;
    transition-property: all ;
    transition-duration: 3s ;
   
   
} 

.parallaxx{
    background: white ;
    /*display: flex ;*/
    height: 200vh;
}


.parallaxx .parallaxscroll1{
    
    position: relative;
    background: grey ;
    opacity: 0.8 ;
    height: 100vh;
    /*width: 50% ;*/
    width: 50vmax ;
    display: flex ;
    justify-content: center ;
    align-items: center ; 
    font-size: 30px ;

}
.parallaxscroll{
   /* width: 50% ;*/
   position: relative;
    width: 50vmax ;
    margin-left: 50% ;
    
}
.parallaxscroll2{
    height: 100vh ;
    background-color: rgb(56,134,89) ;
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
}
.parallaxscroll3{
    height: 100vh ;
    background-color: rgb(129, 42, 110);
    display: flex ;
    flex-direction: column ;
    justify-content: space-around ;
    align-items: center ;
}

/*.parallax .parallaxscroll2:hover ~ .parallaxscroll3 {
   transform: translate3d(0,1px,0) ;
   /*opacity: 0.2;
   height: 50px;

}*/

footer{
    height: 100vh ;
    justify-content: center ;
    align-content: center ;
    align-items: center ;
    color: #ff9ff5 ;
    background: bisque ;
}











#pg1-2
{
    margin: inherit ;
    margin-left: 70% ;
    max-height: 50px ;
}
#pg2-3
{
  margin: inherit ;
  margin-left: 70% ;
  max-height: 50px ;
}
#pg3-4
{
    margin: inherit ;
    margin-right: 70% ;
    max-height: 50px ;
}
#pg4-1
{
    margin-left: 70% ;
    margin-top: 50% ;
}
h1{
    color: blueviolet ;
}
h3{
    color : rgb(226, 49, 197) ;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}
.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutFromRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .navout {
    animation: 0.5s ease-out 0s 1 slideOutFromRight;
    animation-fill-mode: forwards;
  }
  
  .navIn {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    animation-fill-mode: forwards;
  }

  #search{
    
 
    
    background: purple ;
    
}
#searchbox{
   background: aqua ;
   display: -webkit-inline-box ;
   margin-left: 20% ;
   padding: 5% ;    


}

.newanimation{
    animation-duration: 3s ;
    animation-name: slidein ; 
}

@keyframes slidein{

    from{
        margin-left: 50% ;
     
    }
    to{
        margin-left: 0% ;
      
    }

}


@media only screen and (min-width: 768px) {
   
    figcaption {
        text-align: center;
        color: #000;
    }
    aside {
        background: #DCE1F6;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        padding: 0;
    }
   

   
}

@media screen and (max-width: 600px){
    body{
        
        text-align: center ;
        overflow-x: hidden ;
        background-color:  black ;
        margin: 0 ;
        
        
        max-width: 411px ;
       
        
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }
   
     /*Carousel*/
     .carousel{
        width: 100%;
        align-self: auto ;
        justify-content: center ;
        visibility: hidden ;
    
    }
    .carousel .carousel-circle{
    
    
        background: #ff9ff5 ;
        margin-left: 20% ;
        border-radius: 50% ;
        margin-top: 7% ;
        margin-left: 17% ; 
        width: 300px ;
        height: 300px ;
   
   }
    
   
    .carousel .carousel-border{
        position: absolute ;
        background: transparent ;
        border: #DCE1F6 ;
        border-style: double ;
        margin: 0 ;
        justify-content: center ;
        margin-left: 8% ;
        margin-top: 55% ;
        border-radius: 50% ;
        width: 320px ;
        height: 320px ;
    }
    .carousel .prev{
        color: aqua;
        background: transparent ;
        border-style: none ;
        margin-top: 45% ;
       
    }
    .carousel .next{
        position: relative;
        color: aqua;
        background: transparent ;
        border-style: none ;
        margin-top: 10% ;
        
    }
    




    #pg3image{
        top: 0 ;
        left: 0 ;
        padding: 2% ;
        size: 50% ;
        width: 280px ;
        height: 200px;
        margin-bottom: 10% ;
        margin-left: -100% ;
    }
    .responsivesec{
        padding: 3% ;
        top: 0 ;
        left: 0;
        align-self: auto ;
        display: flex ;
        flex-direction: column ;
        flex-wrap: wrap ;
        max-width: 570px;
        align-content: flex-end ;
        
    }
    #pg2{
        display: flex ;
        flex-direction: column ;
    }
    #pg2image{
        image-orientation: from-image ;
        max-width: 300px;
        height: 200px ;

    }
    #pg2text{
        top: 0 ;
        left:  0 ;
        margin-left: -3% ;
        margin-top: 10% ;
        position: relative; 

    }
    #pg3image{
        max-width: 320px ;
         height: 250px;
         top: 0 ;
         left: 0;
         margin-left: 0 ;
    }
    #pg3text{
        top: 0 ;
        left:  0 ;
        margin-right: -5% ;
        margin-top: 10% ;
        position: relative; 
    }
    #signup1{
        text-align: end ;
        display: flex ;
        padding-top: 10% ;
        padding-bottom: 0% ;
        padding-left: 5% ;
        padding-right: 5% ;
        border-radius: 50% ;
       
      
    }
    #img07text{
        top: 0 ;
        left: 0;
        margin-left: -50% ;
        margin-top: 30%;
       
        display: flexbox ;
    }
    #img08text{
        top: 0 ;
        left: 0;
        margin-right: -30% ;
        margin-top: 30%;
        display: flexbox ;
    }
    #img09text{
        top: 0 ;
        left: 0;
        margin-left: -50% ;
        margin-top: 30%;
        display: flexbox ;
    }
    #aboutproject{
        display: flex ;
        flex-direction: column ;
    }
   
    #abouttext0{
        top: 0 ;
        left: 0;
        margin-right: -80% ;
        width: 280px ;
        text-align: center ;
        border-style: groove ;
        border-color: #ff9ff5 ;  
        margin-top: 40%;
        
        display: flexbox ;
    }
    .resimg{
        
        top:0 ;
        left: 0 ;
        padding: 1% ;
        max-height: 570px ;
        height: 100px;
        width: 100px ;
        display: flex ;
        flex-direction: column ;
        margin-bottom: 50% ;
        margin-right: 20% ;
    }
   .restext{
        display: grid ;
       
        top: 0 ;
       
        padding: 2% ;
        margin: 0 ;
        max-width: 490px;
        max-height: 600px ;
        margin-left: 0 ;
        width: 200px ;
        text-overflow: clip ;
    }
    .btnnew{
        height: 50px ;
    }
   


  }


  
